<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdut.dongjun.domain.dao.TemperatureDeviceMapper">

	<resultMap id="BaseResultMap" type="com.gdut.dongjun.domain.po.TemperatureDevice">
		<id column="id" jdbcType="VARCHAR" property="id" />
		<result column="name" jdbcType="VARCHAR" property="name" />
		<result column="address" jdbcType="VARCHAR" property="address" />
		<result column="add_time" jdbcType="TIMESTAMP" property="addTime" />
		<result column="available_time" jdbcType="VARCHAR" property="availableTime" />
		<result column="group_id" jdbcType="INTEGER" property="groupId" />
	</resultMap>

	<sql id="Base_Column_List">
		id, name. address, add_time, available_time, group_id
	</sql>

	<select id="selectByParameters" resultMap="BaseResultMap">
		select * from temperature_device where 1 = 1
		<if test="map != null">
			<foreach item="item" index="key" collection="map.entrySet()">
				and ${key} =
				#{item}
			</foreach>
		</if>
	</select>

	<select id="selectByPrimaryKey" parameterType="java.lang.String"
		resultMap="BaseResultMap">
		select
		<include refid="Base_Column_List" />
		from temperature_device
		where id = #{id,jdbcType=VARCHAR}
	</select>

	<delete id="deleteByPrimaryKey" parameterType="java.lang.String">
		delete from
		temperature_device
		where id = #{id,jdbcType=VARCHAR}
	</delete>

	<insert id="insert" parameterType="com.gdut.dongjun.domain.po.TemperatureDevice">
		insert into temperature_device
		(#{sql})
		values (#{id,jdbcType=VARCHAR}, #{name,jdbcType=VARCHAR},
		#{address,jdbcType=VARCHAR},
		#{addTime, jdbcTpye=TIMESTAMP},
		#{availableTime, jdbcType=VARCHAR},
		#{groupId, jdbcType=INTEGER}
	</insert>

	<insert id="insertSelective" parameterType="com.gdut.dongjun.domain.po.TemperatureDevice">
		insert into temperature_device
		<trim prefix="(" suffix=")" suffixOverrides=",">
			<if test="id != null">
				id,
			</if>
			<if test="name != null">
				name,
			</if>
			<if test="address != null">
				address,
			</if>
			<if test="addTime != null">
				add_time,
			</if>
			<if test="availableTime != null">
				available_time,
			</if>
			<if test="groupId != null">
				group_id,
			</if>
		</trim>
		<trim prefix="values (" suffix=")" suffixOverrides=",">
			<if test="id != null">
				#{id,jdbcType=VARCHAR},
			</if>
			<if test="name != null">
				#{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				#{address,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				#{addTime, jdbcType=TIMESTAMP},
			</if>
			<if test="availableTime != null">
				#{availableTime,jdbcType=VARCHAR},
			</if>
			<if test="groupId != null">
				#{groupId, jdbcType=INTEGER},
			</if>
		</trim>
	</insert>

	<update id="updateByPrimaryKeySelective" parameterType="com.gdut.dongjun.domain.po.TemperatureDevice">
		update temperature_device
		<set>
			<if test="name != null">
				name = #{name,jdbcType=VARCHAR},
			</if>
			<if test="address != null">
				address = #{address,jdbcType=VARCHAR},
			</if>
			<if test="addTime != null">
				add_time = #{addTime, jdbcType=TIMESTAMP},
			</if>
			<if test="availableTime != null">
				available_time = #{availableTime,jdbcTpye=VARCHAR}
			</if>
			<if test="groupId != null">
				group_id = #{groupId, jdbcType=INTEGER}
			</if>
		</set>
		where id = #{id,jdbcType=VARCHAR}
	</update>

	<update id="updateByPrimaryKey" parameterType="com.gdut.dongjun.domain.po.TemperatureDevice">
		update temperature_device
		set name = #{name,jdbcType=VARCHAR},
		address = #{address,jdbcType=VARCHAR},
		add_time = #{addTime, jdbcType=TIMESTAMP},
		available_time = #{availableTime, jdbcType=VARCHAR},
		group_id = #{groupId, jdbcType=INTEGER}
		where id = #{id,jdbcType=VARCHAR}
	</update>





</mapper>