@import "mixin";

$root: ".dj-nav";

#{$root} {

	& > .mdl-layout__content {
		padding: 5px 15px 10px;
		max-height: calc(100% - 80px);
		width: 100%;
		box-sizing: border-box;
	}

	.mdl-ripple {
		background-color: white;
	}
	// height: 90px;
	
	@include root(header) {
		// height: 90px;
		.mdl-layout__header-row {
			padding-left: 15px;
		}
	}

	@include root(logo) {
		width: 50px;
		margin-right: 5px;
	}

	@include root(title) {
		color: #FFFFFF;
	}

	@include root(link) {
		color: white;
		text-decoration: none;

		button {
			color: white
		}
	}
}

