/* line 7, ../sass/login.scss */
.login-container {
  width: 500px;
  height: 400px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -200px;
}
/* line 17, ../sass/login.scss */
.login-card {
  width: 100%;
  height: 100%;
}
/* line 2, ../sass/_mixin.scss */
.login-card-title {
  height: 40%;
  background: url("../../../img/logo/loginbg1.jpg") 70%/cover;
}

/* line 27, ../sass/login.scss */
.login-logo {
  width: 50px;
}

/* line 31, ../sass/login.scss */
.login-form {
  background-color: #fafafa;
}
/* line 2, ../sass/_mixin.scss */
.login-form-container {
  width: 250px;
  margin-bottom: 20px;
  margin-top: 20px;
  margin-left: 125px;
}

/* line 45, ../sass/login.scss */
.login-action {
  text-align: center;
}
