/* line 7, ../sass/login.scss */
.login-container {
  width: 500px;
  height: 600px;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -250px;
  margin-top: -300px;
}
/* line 17, ../sass/login.scss */
.login-card {
  width: 100%;
  height: 100%;
}
/* line 2, ../sass/_mixin.scss */
.login-card-title {
  height: 20%;
}

/* line 26, ../sass/login.scss */
.login-logo {
  width: 50px;
}

/* line 30, ../sass/login.scss */
.login-form {
  height: 70%;
}
