<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>出错了！</title>
	<link rel="shortcut icon" href="/img/logo.png" />
	<link rel="stylesheet" type="text/css" href="/css/error_page.css">
</head>
<body>
	<div class="wrapper">
		<span class="icon"></span>
		<span class="main">
			<div class="main-content">
				<h1 class="statusCode">500</h1>
				<p class="description">
					我们似乎出现了点问题
					&nbsp&nbsp
					:(
					<br>
					不过我们会拼命解决
				</p>
				<button class="btn-back" onclick="window.history.back()">点击返回</button>
			</div>
		</span>
	</div>
</body>
</html>