<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>出错了！</title>

	<link rel="shortcut icon" href="../../resources/img/logo.png" />
	<link rel="stylesheet" type="text/css" href="../../resources/css/error_page.css">

</head>
<body>
	<div class="wrapper">
		<span class="icon"></span>
		<span class="main">
			<div class="main-content">
				<h1 class="statusCode">404</h1>
				<p class="description">
					呃...好像迷路了
					&nbsp&nbsp
					:(
					<br>
					找不到该网页
				</p>
				<button class="btn-back" onclick="if(window.history.length==1)window.close();else window.history.back()">点击返回</button>
			</div>
		</span>
	</div>
</body>
</html>