<div class="hero-unit">
	<div class="row-fluid">
		<div class="span5">
			<h2>
				<img src="../../img/logo.png" style="height: 65px" />电管家维护系统
          <span class="label label-default">1.12.1</span>
			</h2>
		</div>
		<div id="topBarNav" class="span5 menu" style="padding-top: 20px;">
				<a href="../monitor/index.html" class="btn banner-btn btn-primary"><i class="fa fa-map-marker"></i>监控</a>
	      <a href="../manager/index.html" class="btn banner-btn btn-primary"><i class="fa fa-cog"></i>管理</a>
	      <a href="../event/index.html" class="btn banner-btn btn-primary" id="event"><i class="fa fa-user"></i>事件</a>
	      <a href="../log/index.html" class="btn banner-btn btn-primary"><i class="fa fa-list-alt"></i>日志</a>
		</div>
    <div class="span2 log_out">

    	<div class="btn-group userBtn">
    		<a class="btn dropdown-toggle" data-toggle="dropdown" href="javascript:void(0)">
    		用户
    		<span class="caret"></span>
    		</a>
    		<ul class="dropdown-menu">

    		</ul>
    	</div>

      <button class="btn btn-danger" onclick="logOut()">退出</button>
    </div>
	</div>
	<rigisterModal></rigisterModal>
</div>
<script>
	var roles = {};

	function logOut(e){
		$.ajax({
			url: '/dongjun/logout',
			type: 'POST',
			success: function () {
				location.href = '/dongjun/login'
			}
		})
	}

	function goRank() {
		location.href = '../rank/index.html'
	}

	function JudgeRank(arr) {
		this.rank = arr
		this.state = {}
	}

	(function(){

		JudgeRank.prototype.init = function() {
			this.addState({
				type: 'default',
				fn: function() {
					$('.dropdown-menu').append('<li onclick="goRank()"><a href="javascript:void(0)" style="text-align: center;">用户管理</a></li>')
				}
			}).addState({
				type: 'super_admin',
				fn: function() {
					dj.inserCmp('../public/registerModal.html', document.getElementsByTagName('rigisterModal')[0])
					$('.dropdown-menu').append('<li data-toggle="modal" data-backdrop="static" data-target="#choose_modal"><a href="javascript:void(0)" style="text-align: center;">注册</a>')
				}
			})
		}

		JudgeRank.prototype.rankList = ['guest', 'user', 'line_admin', 'platform_group_admin', 'super_admin']

		JudgeRank.prototype.filter = function() {
			var self = this
			return this.rankList.filter(function(item) {
				if(self.rank.indexOf(item) !== -1) {
					return true
				}
			})
		}

		JudgeRank.prototype.addState = function(data) {
			var type = data.type
			if(!this.state[type]) {
				this.state[type] = [data.fn]
			} else {
				this.state[type].push(data.fn)
			}
			return this
		}

		JudgeRank.prototype.judge = function(only) {
			// 调用filter对当前拥有的权限排序
			var list = this.filter()

			if(!!this.state.default) {
				for(var i = 0; i < this.state.default.length; i++) {
					this.state.default[i]()
				}
			}

			for(var i = list.length - 1; i >= 0; i--) {
				var rank = list[i]
				if(this.state[rank]) {
					for(var j = 0; j < this.state[rank].length; j++) {
						this.state[rank][j]()
					}
					// 这个选项可以在执行了一处权限的函数之后就跳出
					if(only) {
						break
					}
				}
			}
		}

		$.ajax({
			url: '/islogin',
			type: 'POST',
			async: false,
			success: function(res) {
				if(res) {
					if(res.isLogin == 'false') {
						location.href = '/dongjun/login'
					} else {
						roles.currentRole = res.currentRoles
						var judgement = new JudgeRank(roles.currentRole)
						judgement.init()
						judgement.judge()
						Object.defineProperty(roles, 'currentId', {
							value: res.currentUser
						})
					}
				}
			},
			error: function(res) {
				location.href = '/dongjun/login'
			}
		})

		var navPaths = [];
		var links = $('#topBarNav').find('a');
		links = Array.prototype.slice.call(links);
		links.forEach(function(item) {
			var path = item.href;
			navPaths.push(path);
		})
		var nowPath = location.href.split('#')[0];
		var pos = navPaths.indexOf(nowPath);
		$(links[pos]).addClass('btn-success');
	})()

	dj.jsLoad('../../js/public/realTimeNotice.js')

	/* function judgeRoles(role) {
		if(roles.currentRole.indexOf(role) !== -1) {
			return true
		} else {
			return false
		}
	} */

	/* if(judgeRoles('platform_group_admin')) {
		if(judgeRoles('super_admin')) {
			dj.inserCmp('../public/registerModal.html', document.getElementsByTagName('rigisterModal')[0])
			$('.dropdown-menu').html('<li data-toggle="modal" data-backdrop="static" data-target="#choose_modal"><a href="javascript:void(0)" style="text-align: center;">注册</a></li><li onclick="goRank()"><a href="javascript:void(0)" style="text-align: center;">用户管理</a></li>')
		} else {
			$('.dropdown-menu').html('<li onclick="goRank()"><a href="javascript:void(0)" style="text-align: center;">用户管理</a></li>')
		}
	} else {
		$('.dropdown-menu').html('<li onclick="goRank()"><a href="javascript:void(0)" style="text-align: center;">个人信息</a></li>')
	} */


</script>
