<div class="hero-unit">
	<div class="row-fluid">
		<div class="span5">
			<h2>
				<img src="../../img/logo.png" style="height: 65px" />电网智能监控系统
          <span class="label label-default">1.10</span>
			</h2>
		</div>
		<div id="topBarNav" class="span5 menu" style="padding-top: 20px;">
				<a href="../monitor/index.html" class="btn banner-btn btn-primary"><i class="fa fa-map-marker"></i>监控</a>
	      <a href="../manager/index.html" class="btn banner-btn btn-primary"><i class="fa fa-cog"></i>管理</a>
	      <a href="../event/index.html" class="btn banner-btn btn-primary" id="event"><i class="fa fa-user"></i>事件</a>
	      <a href="../log/index.html" class="btn banner-btn btn-primary"><i class="fa fa-list-alt"></i>日志</a>
		</div>
    <div class="span2 log_out">
    	<button class="btn rankBtn" onclick="goRank()">权限</button>
      <button class="btn btn-danger" onclick="logOut()">退出</button>
    </div>
	</div>
</div>
<script>
	var roles = {};

	(function(){
		$.ajax({
			url: '/islogin',
			type: 'POST',
			async: false,
			success: function(res) {
				if(res) {
					if(res.isLogin == 'false') {
						location.href = '/dongjun/login'
					} else {
						roles.currentRole = res.currentRoles
						Object.defineProperty(roles, 'currentId', {
							value: res.currentUser
						})
					}
				}
			},
			error: function(res) {
				location.href = '/dongjun/login'
			}
		})

		var navPaths = [];
		var links = $('#topBarNav').find('a');
		links = Array.prototype.slice.call(links);
		links.forEach(function(item) {
			var path = item.href;
			navPaths.push(path);
		})
		var nowPath = location.href.split('#')[0];
		var pos = navPaths.indexOf(nowPath);
		$(links[pos]).addClass('btn-success');
	})()

	function logOut(e){
		$.ajax({
			url: '/dongjun/logout',
			type: 'POST',
			success: function () {
				location.href = '/dongjun/login'
			}
		})
	}

	function goRank() {
		location.href = '../rank/index.html'
	}

	dj.jsLoad('../../js/public/realTimeNotice.js')
</script>