<div class="form-inline span12">
	<div class="form-group span4">
		<label class="span1">从:</label>
		<div class="input-append date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
			<input id="begin_search_date" class="span10" type="text" />
        <span class="add-on"><i class="icon-remove"></i></span>
        <span class="add-on"><i class="icon-th"></i></span>
		</div>
	</div>
	<div class="form-group span5">
		<label class="span1">到:</label>
		<div class="input-append date form_date" data-date="" data-date-format="yyyy-mm-dd" data-link-field="dtp_input2" data-link-format="yyyy-mm-dd">
			<input id="end_search_date" class="span9" type="text" />
        <span class="add-on"><i class="icon-remove"></i></span>
        <span class="add-on"><i class="icon-th"></i></span>
			<button id="search_btn" class="btn">搜索</button>
		</div>
	</div>
  <!-- 渲染按钮和modal -->

</div>



<!--<ul class="nav nav-tabs">-->
	<!--<li class="active"><a data-toggle="tab" href="#VoltageChart">电压曲线图</a></li>-->
	<!--<li><a data-toggle="tab" href="#current">电流曲线图</a></li>-->
	<!--<li><a data-toggle="pill" href="#tab3">功率曲线图</a></li>-->
<!--</ul>-->
<!--<div class="clean"></div>-->
<!--<div class="tab-content" style="height: 80%">-->
    <!--<div class="tab-panel active" id="VoltageChart" style="width: 100%;height:100%;"></div>-->
    <!--<div class="tab-panel" id="current" style="width: 100%;height:100%;">dhgd hdgfhdhg</div>-->
<!--</div>-->
  <button style="float: right;" onclick="chart.chartView.handleChange()">
  	<i class="icon-refresh"></i>
  	切换
  </button>
  <ul class="nav nav-tabs" id="lineBar">
      <li class="active"><a data-toggle="tab" href="#VoltageChart" id="showVchart">电压曲线图</a></li>
      <li><a data-toggle="tab" href="#current" id="showCchart">电流曲线图</a></li>
      <li><a data-toggle="tab" href="#power" id="showPchart">功率曲线图</a></li>
      <li><a data-toggle="tab" href="#temperature" id="showTchart">温度曲线图</a></li>
  </ul>
  <div class="clean"></div>
  <div class="tab-content" id="lineChart">
      <div class="tab-pane Mychart active" id="VoltageChart"></div>
      <div class="tab-pane Mychart" id="current"></div>
      <div class="tab-pane Mychart" id="power"></div>
      <div class="tab-pane myChart" id="temperature"></div>
  </div>

  <ul class="nav nav-tabs" id="dataBar" style="display: none;">
      <li class="active"><a href="#excalChartV" data-toggle="tab" id="showVExcal">电压数据表格</a></li>
      <li><a href="#excalChartC" data-toggle="tab" id="showCExcal">电流数据表格</a></li>
      <li><a href="#excalChartP" data-toggle="tab" id="showPExcal">功率数据表格</a></li>
      <li><a href="#excalChartT" data-toggle="tab" id="showTExcal">温度数据表格</a></li>
  </ul> 
  <div class="clean"></div>
  <div class="tab-content" id="dataChart" style="display: none;">
      <div class="tab-pane Mychart active" id="excalChartV">
          <table id="v_data_list" class="table table-bordered table-striped table-hover table-condensed success" cellspacing="0" width="100%">
              <thead>
              <th>设备</th>
              <th>时间</th>
              <th>A相</th>
              <th>B相</th>
              <th>C相</th>
              </thead>
          </table>
      </div>
      <div class="tab-pane Mychart" id="excalChartC">
          <table id="c_data_list" class="table table-bordered table-striped table-hover table-condensed success" cellspacing="0" width="100%">
              <thead>
              <th>设备</th>
              <th>时间</th>
              <th>A相</th>
              <th>B相</th>
              <th>C相</th>
              </thead>
          </table>
      </div>
      <div class="tab-pane Mychart" id="excalChartP">
          <table id="p_data_list" class="table table-bordered table-striped table-hover table-condensed success" cellspacing="0" width="100%">
              <thead>
              <th>设备</th>
              <th>时间</th>
              <th>A相</th>
              <th>B相</th>
              <th>C相</th>
              </thead>
          </table>
      </div>
      <div class="tab-pane Mychart" id="excalChartT">
          <table id="t_data_list" class="table table-bordered table-striped table-hover table-condensed success" cellspacing="0" width="100%">
              <thead>
              <th>设备</th>
              <th>时间</th>
              <th>温度</th>
              </thead>
          </table>
      </div>
  </div>

<script>
  (function() {

    var chartView = function() {

      return {
        handleChange: function() {
          if($('#lineBar').css('display') == 'none') {
            $('#dataBar').hide();
            $('#dataChart').hide();
            $('#lineBar').show();
            $('#lineChart').show();
          } else {
            $('#lineBar').hide();
            $('#lineChart').hide();
            $('#dataBar').show();
            $('#dataChart').show();
          }
        },
        hideParent: function(treeObj) {
          var node = treeObj.getNodes();
          var nodes = treeObj.transformToArray(node);
          for(var i = 0; i<nodes.length; i++) {
            if(nodes[i].isParent) {
              nodes[i].nocheck = true;
              treeObj.updateNode(nodes[i]);
            }
          }
        },
        // hideAll: function(treeObj) {
        //   var node = treeObj.getNodes();
        //   var nodes = treeObj.transformToArray(node);
        //   for(var i = 0; i<nodes.length; i++) {
        //     if(!nodes[i].isParent) {
        //       if(nodes[i].nocheck == true) {
        //         break;
        //       }
        //       else {
        //         nodes[i].nocheck = true;
        //         treeObj.updateNode(nodes[i]);
        //       }
        //     }
        //   }
        // },
        // showChild: function(treeObj) {
        //   var node = treeObj.getNodes();
        //   var nodes = treeObj.transformToArray(node);
        //   for (var i = 0; i < nodes.length; i++) {
        //     if(!nodes[i].isParent) {
        //       if(nodes[i].nocheck == false) {
        //         break;
        //       }
        //       else {
        //         nodes[i].nocheck = false;
        //         treeObj.updateNode(nodes[i]);
        //       }
        //     }
        //   }
        // },
        /**
         * [changeChart 隐藏温度显示电压的或者反之]
         * @param  {[type]} toWhat [切去哪里]
         * @return {[type]}        [description]
         */
        changeChart: function(toWhat) {
          console.log('init');
          if(toWhat == 'temperature') {
            $('#electricBar').hide();
            $('#electricContent').hide();
            $('#temBar').show();
            $('#temContent').show();
          } 
          else {
            $('#electricBar').show();
            $('#electricContent').show();
            $('#temBar').hide();
            $('#temContent').hide();
          }
        },
      };
    }();


    var chartController = function() {

      return {
        /**
         * [initListener 为表格模块的东西添加事件]
         * @return {[type]} [description]
         */
        initListener: function() {
          chartView.hideParent($.fn.zTree.getZTreeObj("treeDemo"));
          chartView.changeChart();
          chartManager.clearChart(chartManager.get('showVchart'));
          chartManager.clearChart(chartManager.get('tem'));
          $('#begin_search_date').change(function(){
            chartNodes.clearTag();
            console.log('clear1');
          });
          $('#end_search_date').change(function(){
            chartNodes.clearTag();
            console.log('clear2');
          });
          $("#search_btn").unbind().click(function(event) {
            chartNodes.clearTag();
            chartManager.handleSearch(chartManager.get('showVchart'), 0, 'v_data_list')
          });
          $('#dataBar').click(function(event) {
            var target = event.target;
            if((target.id == 'showVExcal')||(target.id == 'showCExcal')||(target.id == 'showPExcal')||(target.id == 'showTExcal')) {
              switch(target.id) {
                case 'showVExcal':
                  if(!$('#showVchart').closest('li').hasClass('active')) {
                    $('#showVchart').click();
                  }
                  break;
                case 'showCExcal':
                  if(!$('#showCchart').closest('li').hasClass('active')) {
                    $('#showCchart').click();
                  }
                  break;
                case 'showPExcal':
                if(!$('#showPchart').closest('li').hasClass('active')) {
                  $('#showPchart').click();
                }
                break;
                case 'showTExcal':
                if(!$('#showTchart').closest('li').hasClass('active')) {
                  $('#showTchart').click();
                }
                break;
              }
            }
          });
          $('#lineBar').click(function(event) {
            var target = event.target;
            if((target.id == 'showVchart')||(target.id == 'showCchart')||(target.id == 'showPchart')||(target.id == 'showTchart')) {
              console.log('echart')
              chartNodes.clearTag();
              if(target.id != 'showTchart') {
            	  chartManager.setActive(chartManager.get(target.id));
              }
              switch(target.id) {
                case 'showVchart': 
                  console.log('showVchart');
                  chartManager.handleSearch(chartManager.get(target.id), 0, 'v_data_list');
                  var vid = target.id;
                  $("#search_btn").unbind().click(function(event) {
                    chartNodes.clearTag();
                    chartManager.handleSearch(chartManager.get(vid), 0, 'v_data_list')
                  })
                  break;
                case 'showCchart': 
                  console.log('showCchart')
                  chartManager.handleSearch(chartManager.get(target.id), 1, 'c_data_list');
                  var cid = target.id;
                  $("#search_btn").unbind().click(function(event) {
                    chartNodes.clearTag();
                    chartManager.handleSearch(chartManager.get(cid), 1, 'c_data_list')
                  })
                  break;
                case 'showPchart': 
                  console.log('showPchart')
                  chartManager.handleSearch(chartManager.get(target.id), 2, 'p_data_list');
                  var pid = target.id;
                  $("#search_btn").unbind().click(function(event) {
                    chartNodes.clearTag();
                    chartManager.handleSearch(chartManager.get(pid), 2, 'p_data_list')
                  })
                  break;
                case 'showTchart': 
                  console.log('showTchart')
                  var pid = target.id;
                  $("#search_btn").unbind().click(function(event) {
                    chartNodes.clearTag();
                    chartManager.handleTemSearch(chartManager.get('tem'), 't_data_list')
                  })
                  break;
              }
            }
          });
        }
      };
    }();

    /**
     * [chartNodes 用来装已选节点的数组]
     * @return {[type]} [description]
     */
    var chartNodes = function() {
      var checkNodes = [];
      var temNodes = [];

      return {
        get: function() {
          return checkNodes;
        },
        getTem: function() {
          return temNodes;
        },
        addTem: function(node) {
          temNodes.push({
            node: node,
            tag: 0
          })
        },
        delTem: function(node) {
          for(var i = 0; i < temNodes.length; i++) {
            if(node.id == temNodes[i].node.id) {
              temNodes.splice(i, 1);
              break;
            }
          }
        },
        addCheck: function(node) {
          checkNodes.push({
            node: node,
            tag: 0
          });
          console.log(checkNodes);
        },
        delCheck: function(node) {
          for(var i = 0; i < checkNodes.length; i++) {
            if(node.id == checkNodes[i].node.id) {
              checkNodes.splice(i, 1);
              break;
            }
          }
          console.log(checkNodes);
        },
        clearTag: function() {
              if(checkNodes.length != 0) {
                  console.log('clear')
                  for(var i = 0; i<checkNodes.length; i++) {
                    checkNodes[i].tag = 0;
                  }
              }
          },
        clearArr: function() {
          checkNodes.splice(0);
        }
      };
    }();


  /**
   * [chartManager 管理表格的行为]
   * @return {[type]} [瞎分的...]
   */
    var chartManager = function() {
      var voltageChart = echarts.init(document.getElementById('VoltageChart'));
      var currentChart = echarts.init(document.getElementById('current'));
      var powerChart = echarts.init(document.getElementById('power'));
      var temperature = echarts.init(document.getElementById('temperature'));
      var activeTab = voltageChart;
      // var LastNode = undefined;

      return {
        /**
         * [get 从外部获得闭包保存的私密表格]
         * @param  {[type]} chart [目标]
         * @return {[type]}       []
         */
        get: function(chart) {
          switch(chart) {
            case 'showVchart': return voltageChart;
            case 'showCchart': return currentChart;
            case 'showPchart': return powerChart;
            case 'tem': return temperature;
          }
        },
        getActive: function() {
          return activeTab;
        },
        setActive: function(newTab) {
          activeTab = newTab;
        },
        /**
         * [clearChart 可以理解为清空表格]
         * @param  {[type]} chart [目标表格]
         * @return {[type]}       [description]
         */
        clearChart: function(chart) {
          chart.setOption({
                "title": {
                    "text": ""
                },
                "tooltip": {
                    "trigger": "axis"
                },
                "legend": {
                    "data": []
                },
                "toolbox": {
                    "feature": {
                        "saveAsImage": {}
                    }
                },
                "grid": {
                    "buttom": "",
                    "left": "",
                    "containLabel": true,
                    "right": ""
                },
                "xAxis": [{
                    "type": "category",
                    "boundaryGap": false,
                    "data": []
                }],
                "yAxis": [{
                    "type": "value"
                }],
                "series":[]
            }, true);
        },
        moveLegend: function(op) {
          op.legend.orient = 'vertical';
          op.legend.x = 'right';
          op.legend.y = '25';
        },
        changeName: function(name, param) {
          console.log('changename: ', param);
          if(Object.prototype.toString.call(param) == '[object Array]') {
            for(var i = 0; i<param.length; i++) {
              param[i].name = name + '的' + param[i].name;
            }
            return param;
          }
          else {
            for(var i = 0; i<param.data.length; i++) {
              param.data[i] = name + '的' + param.data[i];
            }
            return param;
          }
        },
        /**
         * [removeOption 消除图中的折线]
         * @param  {[type]} name  [树节点的名字]
         * @param  {[type]} chart [目标表格]
         * @return {[type]}       []
         */
        removeOption: function(node, chart, tablename, num) {
          var name = node.name;
          var oldSer = chart.getOption().series;
          var oldLen = chart.getOption().legend[0];
          var newOp = chart.getOption();
          var sFlag = '';
          var lFlag = '';
          if(oldSer[0]) {
            for(var i = 0; i<oldSer.length; i++) {
              if(oldSer[i].name.indexOf(name) != -1) {
                sFlag = i;
                console.log(sFlag)
                break;
              }
            }
          }
          if(oldLen.data[0]) {
            for(var j = 0; j<oldLen.data.length; j++) {
              if(oldLen.data[j].indexOf(name) != -1) {
                lFlag = j;
                console.log(lFlag)
                break;
              }
            }
          }
          
          if(sFlag) {
            // oldSer.splice(sFlag,3);
            oldSer.splice(sFlag,num);
            newOp.series = oldSer;
            console.log('edsFlag')
          }
          if(lFlag) {
            // oldLen.data.splice(lFlag,3);
            oldLen.data.splice(lFlag,num);
            newOp.legend = oldLen;
            console.log('edlFlag')
          }
          if(sFlag === 0 && lFlag === 0) {
            // oldSer.splice(sFlag,3);
            // oldLen.data.splice(lFlag,3);
            oldSer.splice(sFlag,num);
            oldLen.data.splice(lFlag,num);
            newOp.series = oldSer;
            newOp.legend = oldLen;
            console.log('00')
          }
          chart.setOption(newOp, true);
          if(tablename == 't_data_list') {
        	  console.log('_____清空温度')
        	  chartManager.show_table(tablename, chartManager.createTable(chart, true), true);
          }
          else {
        	  console.log('_____清空电压 ')
        	  chartManager.show_table(tablename, chartManager.createTable(chart, false), false);  
          }
        },
        /**
         * [handleSearch 高压低压和管控设备的搜索]
         * @param  {[type]} chart [目标表格]
         * @param  {[type]} cov   [...见下一个函数]
         * @return {[type]}       []
         */
        handleSearch: function(chart, cov, tablename) {
          console.log('startSearch');
          console.log(chart);
          var begin_time = $('#begin_search_date').val();
          var end_time = $('#end_search_date').val();
          var nodeId = [];
          var nodeType = [];
          var checkNodes = chartNodes.get();
          console.log(checkNodes);
          var num = 0;
          var reLoad = '';
          for(var i = 0; i<checkNodes.length; i++) {
            if(checkNodes[i].tag == 0) {
              num++;
            }
          }
          if(num == checkNodes.length) {
            reLoad = true;
          }
          if(begin_time && end_time) {
            if(checkNodes.length != 0) {
              for(var i = 0; i<checkNodes.length; i++) {
                //if(checkNodes[i].tag == 0) {
                  nodeId.push(checkNodes[i].node.id);
                  nodeType.push(checkNodes[i].node.type);
                 // checkNodes[i].tag = 1;
                //}
              }
              nodeId = nodeId.join(',=');
              nodeType = nodeType.join(',=');
              console.log(nodeId);
              console.log(nodeType);
              $.ajax({
                url: '/dongjun/select_chart_by_switch_id',
                // url: 'http://127.0.0.1:8080/templates/manager/loadChart',
                type: 'GET',
                data: {
                  switchId: nodeId,
                  type: nodeType,
                  beginDate: begin_time,
                  endDate: end_time,
                  cov: cov
                  // id: nodeId
                },
                success: function(res) {
                  // res = JSON.parse(res);
                  /*var newOp = chartManager.mixOption(res);
                  console.log('searchSuccess');
                  if(reLoad) {
                    chartManager.moveLegend(newOp);
                    chart.setOption(newOp, true);
                    console.log('reload');
                  }
                  else {
                    if(chart.getOption().series[0]) {
                      chartManager.moveLegend(newOp);
                      chartManager.addOption(chart, newOp);
                    }
                    else {
                      chart.setOption(newOp);
                    }
                  }*/
                  console.log(res);
                  if(res) {
                	  chartManager.moveLegend(res);
                	  chart.setOption(res, true);
                      chartManager.show_table(tablename, chartManager.createTable(chart, false), false);  
                  } else {
                	  confirm('没有数据哦');
                  }
                }
              })
            }
            else {
              chartManager.clearChart(chart);
            }
          } else {
            alert('请选择时间来查询表格');
          }
        },
        /**
         * [handleTemSearch 温度设备的信息搜索]
         * @param  {[type]} chart [目标表格]
         * @param  {[type]} cov   [传给后台的辨别表格种类的东西]
         * @return {[type]}       [description]
         */
        handleTemSearch: function(chart, tablename) {
          console.log('startSearch');
          console.log(chart);
          var begin_time = $('#begin_search_date').val();
          var end_time = $('#end_search_date').val();
          var taglist = [];
          var temNodes = chartNodes.getTem();
          console.log(temNodes);
          for(var i = 0; i<temNodes.length; i++) {
            taglist.push(temNodes[i].node.id);
          }
          if(begin_time && end_time) {
            if(taglist.length != 0) {
              // for(var i = 0; i<checkNodes.length; i++) {
              //   if(checkNodes[i].tag == 0) {
              //     nodeId.push(checkNodes[i].node.id);
              //     nodeType.push(checkNodes[i].node.type);
              //     checkNodes[i].tag = 1;
              //   }
              // }
              taglist = taglist.join(',=');
              console.log(taglist);
              var id = temNodes[0].node.getParentNode().id;
              // 发请求获取taglist

              // nodeId = nodeId.join(',=');
              // nodeType = nodeType.join(',=');
              // console.log(nodeId);
              // console.log(nodeType);
              $.ajax({
                url: '/dongjun/select_chart_by_device_id',
                // url: 'http://127.0.0.1:8080/templates/manager/loadChart',
                type: 'GET',
                data: {
                  id: id,
                  tagList: taglist,
                  beginDate: begin_time,
                  endDate: end_time,
                },
                success: function(res) {
                  // res = JSON.parse(res);
                  // if(chart.getOption().series[0]) {
                  //   // console.log('add');
                  //   chartManager.addOption(chart, newOp);
                  // }
                  // else {
                  //   // console.log('set');
                  //   chart.setOption(newOp);
                  // }
                  if(res) {
                	  chartManager.moveLegend(res);
                	  chart.setOption(res, true);
                      chartManager.show_table(tablename, chartManager.createTable(chart, true), true);  
                  }
                  else {
                	  alert('没有数据哦');
                  }
                }
              })
            }
            else {
              chartManager.clearChart(chart);
            }
          } 
          else {
        	  alert('请输入时间来查询表格');
          }
        },
        /**
         * [mixOption 把返回的数组数据合并成一个Option配置对象]
         * @param  {[type]} optionList [后台返回的Option数组]
         * @return {[type]}            [description]
         */
        mixOption: function(optionList) {
          var checkNodes = chartNodes.get();
          console.log(optionList);
          var res = optionList[0];
          var flag = 0;
          var seriesList = [];
          var legendList = {data:[]};
          console.log('startMix');
          for(var i = 0; i<checkNodes.length; i++) {
            if(res.id == checkNodes[i].node.id) {
              flag = i;
              break;
            }
          }
          console.log(flag);
          console.log('mix', optionList);
          if(optionList.length == 1) {
            res.series = this.changeName(checkNodes[flag].node.name, res.series);
            res.legend = this.changeName(checkNodes[flag].node.name, res.legend);
            console.log('successMix1')
            console.log(res);
            return res;
          }
          else {
            for(var i = 0; i<optionList.length; i++) {
              optionList[i].series = this.changeName(checkNodes[flag+i].node.name, optionList[i].series);
              optionList[i].legend = this.changeName(checkNodes[flag+i].node.name, optionList[i].legend);
              seriesList = seriesList.concat(optionList[i].series);
              legendList.data = legendList.data.concat(optionList[i].legend.data);
              console.log(seriesList)
              console.log(legendList.data)
            }
            res.series = seriesList;
            res.legend = legendList;
            console.log(seriesList)
            console.log(legendList)
            console.log(res);
            return res;
          }
        },
        /**
         * [addOption 在原来的基础上不消除原来的折线增加新的折线]
         * @param {[type]} chart [目标表格]
         * @param {[type]} newOp [新的配置对象]
         */
        addOption: function(chart, newOp) {
          var oldSer = chart.getOption().series;
          var oldLen = chart.getOption().legend[0];
          oldSer = oldSer.concat(newOp.series);
          oldLen.data = oldLen.data.concat(newOp.legend.data);
          newOp.series = oldSer;
          newOp.legend = oldLen;
          console.log(oldLen.data);
          console.log(newOp);
          chart.setOption(newOp);
          console.log('addOption')
        },
        createTable: function(chart, temperature) {
          var op = chart.getOption();
          console.error(op);
          if(op.series[0]) {
            var arr = [];
            if(temperature) {
              for(var j = 0; j<op.series.length; j++) {
                for(var i = 0; i<op.xAxis[0].data.length; i++) {
                  arr.push({
                    "name": op.legend[0].data[j],
                    "time": op.xAxis[0].data[i],
                    "temperatrue": op.series[0+j].data[i]
                  });
                }
              }
            } 
            else {
              for(var j = 0; j<((op.series.length)/3); j++) { // j要除以3
                for(var i = 0; i<op.xAxis[0].data.length; i++) {
                  arr.push({
                    "name": op.legend[0].data[j*3].split('A')[0], // j要乘以3
                    "time": op.xAxis[0].data[i],
                    "aValue": op.series[0+j*3].data[i], // j要乘以3
                    "bValue": op.series[1+j*3].data[i],
                    "cValue": op.series[2+j*3].data[i]
                  });
                }
              }
            }
            return arr;
          } 
          else {
            return false
          }
        },
        show_table: function(tablename, data, temperature) {
          if(data) {
            if(temperature) {
              $('#' + tablename).DataTable( {
                "destroy": true,// destroy之后才能重新加载
                "ordering": false,
                "info":     false,
                "columns" : [{
                  "data" : "name"
                }, {
                  "data" : "time"
                }, {
                  "data" : "temperatrue"
                }],
                "data": data
              });
            }
            else {
              $('#' + tablename).DataTable( {
                "destroy": true,// destroy之后才能重新加载
                "ordering": false,
                "info":     false,
                "columns" : [{
                  "data" : "name"
                }, {
                  "data" : "time"
                }, {
                  "data" : "aValue"
                }, {
                  "data" : "bValue"
                }, {
                  "data" : "cValue"
                }],
                "data": data
              });
            }
          }
          else {
            if(temperature) {
              $('#' + tablename).DataTable( {
                "destroy": true,// destroy之后才能重新加载
                "ordering": false,
                "info":     false,
                "columns" : [{
                  "data" : "name"
                }, {
                  "data" : "time"
                }, {
                  "data" : "temperatrue"
                }],
                "data": []
              });
            }
            else {
              $('#' + tablename).DataTable( {
                "destroy": true,// destroy之后才能重新加载
                "ordering": false,
                "info":     false,
                "columns" : [{
                  "data" : "name"
                }, {
                  "data" : "time"
                }, {
                  "data" : "aValue"
                }, {
                  "data" : "bValue"
                }, {
                  "data" : "cValue"
                }],
                "data": []
              });
            }
          }
        },
        /**
         * [initail_datetimepicker 初始化时间表单]
         * @return {[type]} []
         */
        initail_datetimepicker: function() {
          var timer = new Date();
          $('.form_date').datetimepicker({
            language : 'zh-CN',
            weekStart : 1,
            todayBtn : 1,
            autoclose : 1,
            todayHighlight : 1,
            startView : 2,
            minView : 2,
            forceParse : 0,
          });
          var year = timer.getFullYear();
          var month = timer.getMonth() + 1;
          var lastMonth = timer.getMonth();
          var today = timer.getDate();
          var yesterday = today - 1;
          yesterday = yesterday.toString();
          if(yesterday == 9) {
            yesterday = '0' + yesterday;
            lastMonth = lastMonth + 1;
          }
          else if((yesterday>0)&&(yesterday<9)) {
            today = '0' + today;
            yesterday = '0' + yesterday;
            lastMonth = lastMonth + 1;
          }
          else if(today == 1) {
            switch(month) {
              case 1: 
              case 2: 
              case 4: 
              case 6: 
              case 8: 
              case 9: 
              case 11: yesterday = '31';break;
              case 5: 
              case 7: 
              case 10: 
              case 12: yesterday = '30';break;
              case 3: yesterday = '28';break;
            }
            today = '0' + today;
          }
          else {
            lastMonth = lastMonth + 1;
          }
          $('#begin_search_date').val(year + '-' + lastMonth + '-' + yesterday);
          $('#end_search_date').val(year + '-' + month + '-' + today);
          timer = null;
        }
      };
    }();

    chart.chartView = chartView;
    chart.chartManager = chartManager;
    chart.chartController = chartController;
    chart.chartNodes = chartNodes;
    chartManager.initail_datetimepicker();
  }());
</script>