<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title>东君后台管理系统 - 公司管理</title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
		<!-- Le styles -->
		<link rel="stylesheet" type="text/css" href="../../css/mdl/material.min.custom.css" />
		<link rel="stylesheet" type="text/css" href="../../css/font-awesome-4.7.0/css/font-awesome.min.css" />
		<!-- <link rel="stylesheet" type="text/css" href="../../css/dataTable/dataTables.material.min.css" /> -->
		<link rel="stylesheet" type="text/css" href="../../css/cus/stylesheets/global.css" />
		<link rel="stylesheet" type="text/css" href="../../css/cus/stylesheets/frame.css" />
		<link rel="stylesheet" href="../../css/cus/stylesheets/companyManager.css" />
		<!-- modal -->
		<link rel="stylesheet" type="text/css" href="../../css/modal/modal.min.css" />
		<!-- modal end -->
		<!-- jq -->
		<script type="text/javascript" src="../../js/lib/jq/jquery-3.2.1.min.js"></script>
		<!-- mock -->
		<!-- <script type="text/javascript" src="../../../js/lib/mock-min.js"></script> -->
		<!-- <script type="text/javascript" src="../../../js/customs/mockData.js"></script> -->
		<!-- dataTable -->
		<link rel="stylesheet" type="text/css" href="../../css/dataTable/jquery.dataTables.min.css" />
	</head>
	<body>
		<!-- app content -->
		<div id="app">
			<div id="dj-nav" class="mdl-layout mdl-js-layout mdl-layout--fixed-header dj-nav">
				<!-- 头部导航 -->
			  <header class="mdl-layout__header dj-nav-header">
			    <div class="mdl-layout__header-row">
			      <!-- Title -->
			      <h2 class="mdl-layout-title dj-nav-title">
			      	<img class="dj-nav-logo" src="../../img/logo/logo1.png" />
			      	东君后台管理系统
			      </h2>
			      <!-- Add spacer, to align navigation to the right -->
			      <div class="mdl-layout-spacer"></div>
			      <!-- Navigation. We hide it in small screens. -->
			      <nav class="mdl-navigation">
			        <a class="dj-nav-link active">
			        	<button disabled class="mdl-button mdl-js-button mdl-js-ripple-effect">
			        		公司管理
								</button>
			        </a>
			        <a class="dj-nav-link" href="../switchManager/">
			        	<button class="mdl-button mdl-js-button mdl-js-ripple-effect">
			        		设备管理
								</button>
			        </a>
			      </nav>
			    </div>
			  </header>
			  <!-- 内容 -->
			  <main class="mdl-layout__content">
			    <div class="page-content" id="content-container">
				    <!-- 主要内容区 -->
				    <button class="mdl-button mdl-js-button mdl-button--fab mdl-js-ripple-effect add-company">
						  <i class="material-icons">+</i>
						</button>
				    <div class="dj-row">
				    	<table id="company_list" class="mdl-data-table table table-bordered table-striped table-hover table-condensed success">
						    <thead>
						      <td>公司名称</td>
						      <td>公司描述</td>
						      <td>主管人</td>
						      <td>公司地址</td>
						      <td>电话</td>
						      <td>公司系统ip地址</td>
						      <td></td>
						      <td></td>
						    </thead>
						  </table>
				    </div>
			    </div>
			  </main>
			</div>
		</div>
		<!-- footer -->
		<footer id="dj-footer" class="dj-footer">
		</footer>
		<!-- modal -->
		<div class="modal fade" id="company-modal" tabindex="1" role="dialog" aria-labelledby="myModalLabel">
		  <div class="modal-dialog main-dialog" role="document" style="margin-top: 100px">
		    <div class="modal-content">
		      <div class="modal-header">
		        <button type="button" class="close mdl-button mdl-js-button mdl-button--icon" data-dismiss="modal" aria-label="Close">
		        <spanaria-hidden="true">&times;</span></button>
		        <h4 class="modal-title" id="myModalLabel"></h4>
		      </div>
		      <div class="modal-body">
						<div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-item">
					    <input data-type="name" class="mdl-textfield__input" type="text" />
					    <label class="mdl-textfield__label">公司名称</label>
					  </div>
					  <div class="mdl-textfield mdl-js-textfield area-item">
					    <textarea id="description" class="mdl-textfield__input" type="text" rows= "3"></textarea>
					    <label class="mdl-textfield__label">公司描述</label>
					  </div>
					  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-item">
					    <input data-type="chief" class="mdl-textfield__input" type="text" />
					    <label class="mdl-textfield__label">主管人</label>
					  </div>
					  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-item">
					    <input data-type="address" class="mdl-textfield__input" type="text" />
					    <label class="mdl-textfield__label">公司地址</label>
					  </div>
					  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-item">
					    <input data-type="phone" class="mdl-textfield__input" type="text" pattern="-?[0-9]*(\.[0-9]+)?" />
					    <label class="mdl-textfield__label">电话</label>
					    <span class="mdl-textfield__error">电话请填入数字</span>
					  </div>
					  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label form-item">
					    <input data-type="ipAddr" class="mdl-textfield__input" type="text" />
					    <label class="mdl-textfield__label">公司系统IP地址</label>
					  </div>
		      </div>
		      <div class="modal-footer">
		        <button type="button" class="mdl-button mdl-js-button mdl-button--accent mdl-js-ripple-effect" data-dismiss="modal"> 取消 </button>
		        <button type="button" class="submit mdl-button mdl-button--colored mdl-js-button mdl-js-ripple-effect"> 确定 </button>
		      </div>
		    </div>
		  </div>
		</div>
		<!-- modalEnd -->
		<!-- tips -->
		<div id="snackbar" class="form-tips mdl-js-snackbar mdl-snackbar">
		  <div class="mdl-snackbar__text"></div>
		  <button class="mdl-snackbar__action" type="button"></button>
		</div>
		<!-- tips end -->
	</body>

	<!-- material -->
	<script src="../../js/lib/dataTables/jquery.dataTables.min.js"></script>
	<script src="../../js/lib/mdl/material.min.js"></script>
	<script src="../../js/lib/dataTables/dataTables.material.min.js"></script>
	<!-- modal -->
	<script src="../../js/lib/modal/modal.min.js"></script>
	<!-- modal end -->
	<!-- dongjun -->
	<script type="text/javascript" src="../../js/lib/dongjun.js"></script>
	<script type="text/javascript" src="../../js/customs/companyManager/companyManager.js"></script>
</html>
