<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<title></title>
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<!-- Le styles -->
		<link rel="stylesheet" type="text/css" href="../../static/css/mdl/material.min.custom.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/font-awesome-4.7.0/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/dataTable/dataTables.material.min.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/customs/stylesheets/global.css">
		<link rel="stylesheet" type="text/css" href="../../static/css/customs/stylesheets/frame.css">
		<!-- jq -->
		<script type="text/javascript" src="../../static/js/lib/jq/jquery-3.2.1.min.js"></script>
		<!-- mock -->
		<script type="text/javascript" src="../../static/js/lib/mock-min.js"></script>
		<script type="text/javascript" src="../../static/js/customs/mockData.js"></script>
	</head>
	<body>
		<!-- app content -->
		<div id="app">
			<div id="dj-nav" class="mdl-layout mdl-js-layout mdl-layout--fixed-header dj-nav">
				<!-- 头部导航 -->
			  <header class="mdl-layout__header dj-nav-header">
			    <div class="mdl-layout__header-row">
			      <!-- Title -->
			      <h2 class="mdl-layout-title dj-nav-title">
			      	<img class="dj-nav-logo" src="../../static/img/logo/logo1.png">
			      	东君后台管理系统
			      </h2>
			      <!-- Add spacer, to align navigation to the right -->
			      <div class="mdl-layout-spacer"></div>
			      <!-- Navigation. We hide it in small screens. -->
			      <nav class="mdl-navigation">
			        <a class="dj-nav-link active">
			        	<button class="mdl-button mdl-js-button mdl-js-ripple-effect">
			        		公司管理
								</button>
			        </a>
			        <a class="dj-nav-link" href="../switchManager/">
			        	<button class="mdl-button mdl-js-button mdl-js-ripple-effect">
			        		设备管理
								</button>
			        </a>
			      </nav>
			    </div>
			  </header>
			  <!-- 内容 -->
			  <main class="mdl-layout__content">
			    <div class="page-content" id="content-container">
				    <!-- 主要内容区 -->

			    </div>
			  </main>
			</div>
		</div>
		<!-- footer -->
		<footer id="dj-footer" class="dj-footer">
		</footer>
	</body>

	<!-- material -->
	<script defer src="../../static/js/lib/mdl/material.min.js"></script>
	<!-- dongjun -->
	<script type="text/javascript" src="../../static/js/lib/dongjun.js"></script>

</html>
