$colors: (
	bgc: #fafafa,
	font: #3C3C3C
);

@function color($name){
	@return map-get($colors,$name);
}

$pseudo-phprefix: "::-webkit-input-placeholder", "::-moz-placeholder", ":-ms-input-placeholder", "::placeholder";