<div id="data_monitor_panel">
  <div class="form-inline" id="group_company_select">
    <div class="form-group span5">
        <a href="#edit_dataMonitor_modal" class="btn btn-primary" id="add_dataMonitor_btn" data-toggle="modal" data-backdrop="static">添加设备</a>
    </div>
  </div>

  <table id="switch_list" class="table table-bordered table-striped table-hover table-condensed success">
    <thead>
      <td>名称</td>
      <td>地址</td>
      <td>子模块</td>
   <!--    <td>GPRS</td>
      <td>温度模块</td>
      <td>电能表模块</td> -->
      <td>修改</td>
      <td>删除</td>
    </thead>
  </table>
</div>

<div id="modules_panel" class="hide">
  <div class="container-fluid well" style="height: 100%;overflow-y: hidden;position: relative;padding: 5px 10px">
    <h3 class="text-center" style="margin-bottom: 0">
      <span id="module_info_title" class="center">温度模块</span>
      <div id="module_info_back" class="notice-container" style="float: left; cursor: pointer;">
        <div class="cursor-notice"><a style="color: #505050; font-size: 0.8em">◁</a></div>
        <div class="cursor-notice-borad-right" style="position: fixed">返回</div>
      </div>

      <ul id="modules_panel_tab" class="nav nav-tabs" style="font-size: 0.6em; float: right; margin-bottom: 0">
        <li><a href="#temperature_module" data-toggle="tab">温度</a></li>
        <li><a href="#GPRS_module" data-toggle="tab">GPRS</a></li>
        <li><a href="#power_module" data-toggle="tab">电能表</a></li>
      </ul>
    </h3>
  </div>
  <div id="modules_panel_tab_content" class="tab-content" style="position: relative;">
    <div class="tab-pane fade" id="temperature_module" style="position: relative;">
      数据加载中。。。
    </div>
    <div class="tab-pane fade" id="GPRS_module" style="width: 100%">
      数据加载中。。。
    </div>
    <div class="tab-pane fade" id="power_module" style="width: 100%">
      数据加载中。。。
    </div>
  </div>
</div>

<script>
  var Popup = function() {
    var c = null
    return {
      Confirm: function(data) {
        if(!c) {
          c = new Confirm(data)
          return c
        } else {
          return c.reset(data).show()
        }
      }
    }
  }()

  var Confirm = function(data) {
    this.title = data.title
    this.text = data.text
    this.confirm = data.confirm
    this.fail = data.fail
    this.panel = document.createElement('div')
    this.titleNode = document.createElement('h3')
    this.textNode = document.createElement('p')
    this.closeBtn = document.createElement('button')
    this.cancelBtn = document.createElement('button')
    this.cancelText = data.cancelText || '取消'
    this.confirmBtn = document.createElement('button')
    this.confirmText = data.confirmText || '确认'
    this.init()
  }

  Confirm.prototype.init = function() {
    this.panel.className = 'modal hide fade'
    this.panel.setAttribute('tabindex', '-1')
    this.panel.setAttribute('role', 'dialog')
    this.panel.setAttribute('aria-labelledby', 'myModalLabel')
    this.panel.setAttribute('aria-hidden', 'true')
    // header
    var header = document.createElement('div')
    header.className = 'modal-header'
    this.closeBtn.className = 'close'
    this.closeBtn.dataset.dismiss = 'modal'
    this.closeBtn.setAttribute('aria-hidden', 'true')
    this.closeBtn.innerHTML = '×'
    header.appendChild(this.closeBtn)
    this.titleNode.innerHTML = this.title
    header.appendChild(this.titleNode)
    this.panel.appendChild(header)

    // body
    var body = document.createElement('div')
    body.className = 'modal-body'
    this.textNode.innerHTML = this.text
    body.appendChild(this.textNode)
    this.panel.appendChild(body)

    // footer
    var footer = document.createElement('div')
    footer.className = 'modal-footer'
    this.cancelBtn.innerHTML = this.cancelText
    this.cancelBtn.className = 'btn'
    this.cancelBtn.dataset.dismiss = 'modal'
    this.cancelBtn.setAttribute('aria-hidden', 'true')
    footer.appendChild(this.cancelBtn)
    this.confirmBtn.innerHTML = this.confirmText
    this.confirmBtn.className = 'btn btn-danger'
    this.confirmBtn.dataset.dismiss = 'modal'
    this.confirmBtn.setAttribute('aria-hidden', 'true')
    footer.appendChild(this.confirmBtn)
    this.panel.appendChild(footer)

    document.body.appendChild(this.panel)
    this.bindEvent()
    this.show()
  }

  Confirm.prototype.bindEvent = function() {
    this.closeBtn.onclick = this.fail
    this.cancelBtn.onclick = this.fail
    this.confirmBtn.onclick = this.confirm
  }

  Confirm.prototype.reset = function(data) {
    this.title = data.title
    this.text = data.text
    this.confirm = data.confirm
    this.fail = data.fail
    this.cancelText = data.cancelText || '取消'
    this.confirmText = data.confirmText || '确认'
    this.titleNode.innerHTML = this.title
    this.textNode.innerHTML = this.text
    this.cancelBtn.innerHTML = this.cancelText
    this.confirmBtn.innerHTML = this.confirmText
    this.bindEvent()
    return this
  }

  Confirm.prototype.show = function(data) {
    $(this.panel).modal('show')
    return this
  }

  Confirm.prototype.hide = function(data) {
    $(this.panel).modal('hide')
    return this
  }

  var panelObserver = function() {
    var __message = {}
    return {
      regist: function(type, fnc) {
        if(!__message[type]) {
          __message[type] = [fnc]
        } else {
          __message[type].push(fnc)
        }
      },
      fire: function(type, agrs) {
        if(!__message[type]) {
          console.warn('没有事件 '+ type)
          return
        }
        console.log('FIRE:  ' + type)
        __message[type].forEach(function(fnc) {
          fnc(agrs, type)
        })
      }
    }
  }()

  var monitorManagerTable = function() {
    var table = null;
    var defUrl = '/dongjun/data_monitor/list';
    return {
      getTable: function(){
        return table;
      },
      init: function(o) {
        var _self = this;
        table = $('#switch_list').DataTable({
          'ajax': {
            'url': defUrl,
            'type': 'POST',
            'dataSrc': function(data) {
              return data.text.filter(function(item) {
                return item
              })
            },
            'data': o && o.data || undefined
          },
          'columns': [
            { 'data': 'name' },
            { 'data': 'address' },
            // {
            //   'data': 'id',
            //   'render': function(data, type, row) {
            //     return '<a role="button" class="btn" data-fnc="goToGPRSModule" data-name="'+ row.name +'"  data-id="'+ data +'">查看</a>'
            //   }
            // },
            {
              'data': 'id',
              'render': function(data, type, row) {
                return '<a role="button" class="btn" data-fnc="goToTemModule" data-name="'+ row.name +'"  data-id="'+ data +'">查看</a>'
              }
            },
            // {
            //   'data': 'id',
            //   'render': function(data, type, row) {
            //     return '<a role="button" class="btn" data-fnc="goToPowerModule" data-name="'+ row.name +'"  data-id="'+ data +'">查看</a>'
            //   }
            // },
            {
              data: 'id',
              width: '50px',
              orderable: false,
              render: function(data, type, row) {
                return '<a href="#edit_dataMonitor_modal" role="button" class="btn" data-toggle="modal" data-fnc="edit"  data-id="'+data+'">修改</a>'
              }
            },
            {
              data: 'id',
              orderable: false,
              width: '50px',
              render: function(data) {
                return '<a role="button" class="btn btn-danger" data-toggle="modal" data-fnc="del" data-id="'+data+'">删除</a>'
              }
            },
          ],
          'language': {
            'paginate': {
              'next': '下一页',
              'previous': '上一页'
            },
            'emptyTable': '找不到相关数据',
            'zeroRecords': '找不到相关数据',
            'loadingRecords': '正在加载数据...'
          },
          'initComplete': function() {

            $(this[0]).click(function(event) {
              var target = $(event.target)
              var fnc = target.data('fnc')
              switch(fnc) {
                // 切换至温度子模块
                case 'goToTemModule':
                  ModulesTabPanel.show('temperature', target.data('name'), target.data('id'))
                  return
                case 'goToGPRSModule':
                  ModulesTabPanel.show('GPRS', target.data('name'), target.data('id'))
                  return
                case 'goToPowerModule':
                  alert('暂未开放, 请等待')
                  return
                // 删除功能
                case 'del':
                  monitorManagerModal.delDataMonitor(target.data('id'))
                  return
                // 编辑功能
                case 'edit':
                  var id = target.data('id')
                  var data = Array.prototype.find.call(table.data(), function(item) {
                    return item.id == id
                  })
                  monitorManagerModal.editDataMonitor(data)
                  return
              }
            })

            // 添加数据监控
            $('#add_dataMonitor_btn').on('click', monitorManagerModal.addDataMonitor.bind(monitorManagerModal))
          }
        })
      },
      redraw: function(id) {
        if(id == -1){
          // console.log('clear')
          table.clear().draw()
          return
        }

        // post
        table.ajax.url(defUrl)
        var param = {
          platformGroupId: id
        };
        table.settings()[0].ajax.data = param
        table.ajax.reload()
      }
    }
  }()

  var ModulesTabPanel = function() {
    var hasLoad = []
    var template = {
      temperature: 'temperature_module.html',
      GPRS: 'GPRS_module.html',
      power: 'power_module.html'
    }
    var titleNode = $('#module_info_title')
    var contentNode = {
      temperature: $('#temperature_module'),
      GPRS: $('#GPRS_module'),
      power: $('#power_module')
    }

    var currentTab = ''
    var curMonitorId = ''
    var fireFnc = {
      temperature: 'showTemModule',
      GPRS: 'showGPRSModule'
    }

    // var afterLoad = function() {}

    var __loadTpl = function(tplName, fnc) {
      if(!template[tplName]) {
        return
      }
      var me = this
      dj.inserCmp(template[tplName], contentNode[tplName][0], function() {
        hasLoad.push(tplName)
        if(fnc) {
          fnc()
        }
      })
    };

    // 事件监听
    (function() {
      $('a[data-toggle="tab"]').on('shown.bs.tab', function (e) {
        var name = e.target.href.split('#')[1].replace(/_module$/, '')
        if(hasLoad.indexOf(name) == -1) {
          __loadTpl(name, function() {
            panelObserver.fire(fireFnc[name], {
              id: curMonitorId
            })
          })
        } else {
          panelObserver.fire(fireFnc[name], {
            id: curMonitorId
          })
        }
      })
    })()

    return {
      show: function(name, monitorName, monitorId) {
        if(currentTab == name) {
          panelObserver.fire(fireFnc[name.replace(/_module$/, '')], {
            id: monitorId
          })
        } else {
          currentTab = name
        }
        curMonitorId = monitorId
        // afterLoad = fnc
        titleNode.text(monitorName)
        panelObserver.fire('toModulesPanel', {})
        $('#modules_panel_tab a[href="#'+ name + '_module' +'"]').tab('show')
      },
      getMonitorId: function() {
        return curMonitorId
      }
    }
  }()

  // 切换表格
  var panelCtrl = function(){
    var panel = {
      dataMonitor: $('#data_monitor_panel'),
      modulesPanel: $('#modules_panel')
    }
    var currentPanel = {
      dom: panel.dataMonitor,
      name: 'dataMonitor'
    }
    return {
      now: function() {
        return currentPanel
      },
      show: function(panelName, fnc) {
        if(panelName == currentPanel.name) {
          return
        }
        panel[panelName].show(300)
        currentPanel.dom.hide(300)
        this.__updateCurrent(panelName)
        fnc && fnc()
      },
      __updateCurrent: function(panelName) {
        currentPanel.dom = panel[panelName]
        currentPanel.name = panelName
      }
    }
  }()

  // 注册返回数据监控面板
  panelObserver.regist('backToDataMonitor', function() {
    panelCtrl.show('dataMonitor')
  })
  panelObserver.regist('toModulesPanel', function() {
    panelCtrl.show('modulesPanel')
  })

  $('#module_info_back').on('click', function() {
    panelCtrl.show('dataMonitor')
  })

  monitorManagerModal.setOption({
    url: {
      add: '/dongjun/data_monitor/edit',
      edit: '/dongjun/data_monitor/edit',
      del: '/dongjun/data_monitor/del',
      upload: '/dongjun/uploadtemDeviceExcel'
    },
    completeFnc: monitorManagerTable.redraw
  });

  (function() {
    if(roles.currentRole.indexOf('super_admin') != -1) {
      // 超管
      // 插入公司选项
      var select = $('#group_company_select')[0]
      var selectStr = '<div class="form-group span6" id="group_company_select_group">' +
                        '<div class="form-group span6">' +
                          '<label class="span2" style="line-height: 2em">组别:</label>' +
                          '<select class="groups span10"></select>' +
                        '</div>' +
                        '<div class="form-group span6">' +
                          '<label class="span2" style="line-height: 2em">公司:</label>' +
                          '<select class="companys span10"></select>' +
                        '</div>' +
                      '</div>'
      select.innerHTML = selectStr + select.innerHTML
      // 组别、公司选择
      dj.jsLoad('/js/manager/selectManager.js', function() {
        selectManager.setOption({
          url: {
            'group': '/dongjun/group/gruop_list',
            'company': '/dongjun/platform_group/platform_group_list_by_group_id'
          },
          node: {
            'group': '.groups',
            'company': '.companys'
          },
          completeFnc: monitorManagerTable.redraw
        })
        selectManager.loadGroups()
        selectManager.autoListen()

        monitorManagerTable.init({
          data: {
            platformGroupId: selectManager.getCompany()
          }
        })
      })
    } else {
      // 非超管
      monitorManagerTable.init()
    }
  })()


</script>