<div id="edit_GPRS_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal"
						aria-hidden="true" onclick="modal.resetEditModal()">×</button>
		<h3>编辑</h3>
	</div>
	<div class="modal-body">
		<div id="edit_GPRS_form" class="form-horizontal">
			<!-- action="edit_switch" -->
			<div class="control-group">
					<label class="control-label" for="inputName">开关名称</label>
					<div class="controls">
							<input type="text" id="inputName" name="name" />
					</div>
			</div>
			<div class="control-group">
					<label class="control-label" for="inputAddress">地址</label>
					<div class="controls">
							<input type="text" id="inputAddress" name="address" />
					</div>
			</div>
			<div class="control-group">
					<label class="control-label" for="inputDeviceNumber">逻辑地址</label>
					<div class="controls">
							<input type="text" id="inputDeviceNumber" name="deviceNumber" />
					</div>
			</div>
		 <!--  <div class="control-group">
					<label class="control-label" for="inputState">在线状态</label>
					<div class="controls">
							<input type="text" id="inputState" name="state" />
					</div>
			</div> -->
			<div class="modal-footer">
				<button class="btn" data-dismiss="modal" aria-hidden="true" onclick="modal.resetEditModal()">取消</button>
				<button id="add_switch_confirm_btn" class="btn btn-primary"
								aria-hidden="true" onclick="modal.saveEdit()">确定</button>
			</div>
		</div>
	</div>
</div>

<!-- delete  -->
<div id="del_modal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		<h3 id="myModalLabel">警告</h3>
	</div>
	<div class="modal-body">
		<p>您确定要删除吗？请慎重考虑</p>
	</div>
	<div class="modal-footer">
		<button class="btn" data-dismiss="modal" aria-hidden="true">关闭</button>
		<a id="del_confirm_btn" class="btn btn-danger" data-dismiss="modal" aria-hidden="true" onclick="modal.sureDel()">删除</a>
	</div>
</div>

<script>

	var modal = function(){
		var now = {
			id: '-1'
		}
		var urls = null
		var completeFnc = null
		var isAdd = true
		return {
			init: function(o) {
				urls = {
					del: o.url.del,
					edit: o.url.edit
				}
				completeFnc = o.complete
			},
			target: function(id) {
				if(id) {
					now.id = id
					isAdd = false
				} else {
					isAdd = true
				}
			},
			setEditForm: function(data) {
				var id = now.id
				var inputs = $('#edit_GPRS_form').find('input')
				Array.prototype.forEach.call(inputs, function(item) {
					item.value = data[item.name]
				})
			},
			isEmptyObj: function(o) {
				for(var k in o) {
					return false
				}
				return true
			},
			sureDel: function() {
				var data = {
					id: now.id
				}
				$.ajax({
					url: urls.del,
					type: 'POST',
					data: data,
					success: function(res) {
						if(!res.success) {
							alert(res.errors.message)
						} else {
							completeFnc(selectManager.getCompany())
							alert('删除成功')
						}
					},
					error: function() {
						alert('出错')
					}
				})
			},
			saveEdit: function() {
				var _self = this
				var form = $('#edit_GPRS_form')
				var inputs = form.find('input')
				var data = {}
				for (var i = inputs.length - 1; i >= 0; i--) {
					var input = inputs[i]
					if(!$.trim(input.value)) {
						alert('请完整填写所有选项')
						input.focus()
						return
					}
					data[input.name] = input.value
				}
				if(!isAdd) {
					data.id = now.id
				}
				// groupId 对应为 公司id
				data.groupId = selectManager.getCompany()
        $.ajax({
					url: urls.edit,
					type: 'POST',
					data: data,
					success: function(res) {
						if(res.success) {
							completeFnc(data.groupId)
							$('#edit_GPRS_modal').modal('hide')
						} else {
							alert(res.errors.message)
						}
					}
				})
      },
			resetEditModal: function(modal) {
				if(modal) {
					modal.find('input').val('')
				} else {
					$('#edit_GPRS_form').find('input').val('')
				}
				isAdd = true
			}
		}
	}();

	modal.init({
    url: {
      edit: '/dongjun/gprs/edit',
      del: '/dongjun/gprs/del'
    },
    complete: managerTable.redraw
  });

	// show the btns
  (function(){
		managerTable.getTable().column(-1).visible(true)
	  managerTable.getTable().column(-2).visible(true)
	  var control_btns = '<a href="#edit_GPRS_modal" class="btn btn-primary" id="add_switch_btn" data-toggle="modal" data-backdrop="static">添加开关</a>'
	  $('#control-btns').append(control_btns)
  })()

</script>