<div class="span2 container-fluid well sidebar-nav">
  <ul class="nav nav-list bs-docs-sidenav" id="sideNav">
    <li class="nav-header">资源管理</li>
    <li><a href="#substation_manager">组别管理</a></li>
    <li><a href="#line_manager">公司管理</a></li>
    <li><a href="#equipment_manager">设备管理</a></li>
    <li class="nav-header">设备管理</li>
    <li><a href="#low_voltage">低压开关管理</a></li>
    <li><a href="#high_voltage">高压开关管理</a></li>
    <li><a href="#control_measure">无功补偿开关管理</a></li>
    <li><a href="#temperature_look">温度监控</a></li>
    <li class="nav-header">GPRS管理</li>
    <li><a href="#GPRS_manager">GPRS管理</a></li>
  </ul>
</div>

<script>
  (function(){
    // 用于加载css
    var loadLink = function(url, cb) {
      var linkHistory = []
      return function(url, cb){
        if(linkHistory.indexOf(url) != -1) {
          if(cb) {
            cb()
          }
          return
        }
        linkHistory.push(url)
        var link = document.createElement('link')
        link.type = 'text/css'
        link.rel = 'stylesheet'
        link.addEventListener('load', function() {
          cb()
        })
        link.href = url
        document.getElementsByTagName('head')[0].appendChild(link)
      }
    }()
    // 根据地址高亮左边栏按钮, 默认'low_voltage'
    $('a[href*=#' + (location.href.split('#')[1] || 'low_voltage')+']').addClass('btn-success')

    // 点击时改变高亮按钮
    var navLinks = $('#sideNav').find('a')
    navLinks.click(function(){
      navLinks.removeClass('btn-success')
      $(this).addClass('btn-success')
    })

    var router = new dj.Router()
    router.start({
      '': loadLow,
      'low_voltage': loadLow,
      'high_voltage': loadHigh,
      'control_measure': loadControlMeasure,
      'substation_manager': substationLoad,
      'line_manager': lineLoad,
      'temperature_look': loadTemperature,
      'equipment_manager': loadEquip,
      'GPRS_manager': loadGPRSManager
    })

    function loadVoltage() {
      dj.jsLoad('/js/manager/selectManager.js', function(){
        dj.inserCmp('voltage_manager_modal.html', $('.modal')[0], function(){
          dj.inserCmp('voltage_manager.html', $('.container')[0])
        })
      })
    }

    function loadLow() {
      dj.jsLoad('/js/manager/selectManager.js', function(){
        dj.inserCmp('low_voltage_modal.html', $('.modal')[0], function(){
          dj.inserCmp('low_voltage.html', $('.container')[0])
        })
      })
    }

    function loadHigh() {
      loadLink('/css/high_manager.css', function(){
        dj.jsLoad('/js/manager/selectManager.js', function(){
          dj.inserCmp('high_voltage_modal.html', $('.modal')[0], function(){
            dj.inserCmp('high_voltage.html', $('.container')[0])
          })
        })
      })
    }

    function loadEquip() {
      loadLink('/css/equipment_manager.css', function() {
        dj.inserCmp('equipment_manager_modal.html', $('.modal')[0], function(){
          dj.inserCmp('equipment_manager.html', $('.container')[0])
        })
      })
    }

    function loadControlMeasure() {
      dj.jsLoad('/js/manager/selectManager.js', function(){
        dj.inserCmp('control_measure_modal.html', $('.modal')[0], function(){
          dj.inserCmp('control_measure.html', $('.container')[0])
        })
      })
    }

    function loadTemperature() {
      dj.jsLoad('/js/manager/selectManager.js', function(){
        dj.inserCmp('temperature_modal.html', $('.modal')[0], function(){
          dj.inserCmp('temperature.html', $('.container')[0])
        })
      })
    }

    function substationLoad() {
      dj.jsLoad('/js/manager/clickManager.js', function(){
        dj.inserCmp('substation_manager_modal.html', $('.modal')[0], function(){
          dj.inserCmp('substation_manager.html', $('.container')[0])
        })
      })
    }

    function lineLoad() {
      dj.jsLoad('/js/manager/clickManager.js', function(){
        dj.inserCmp('line_manager_modal.html', $('.modal')[0], function(){
          dj.inserCmp('line_manager.html', $('.container')[0])
        })
      })
    }

    function loadGPRSManager() {
      dj.inserCmp('GPRS_manager.html', $('.container')[0], function() {
        dj.inserCmp('GPRS_manager_modal.html', $('.modal')[0])
      })
    }
  })()

</script>