<!-- <div class="span2 container-fluid well sidebar-nav" id="manager_side_nav_container">
</div> -->

<script>
  (function(){
    var SideNav = function(node, data) {
      this.el = null
      this.parentNode = node
      this.children = []
      this.id = data.id
      this.list = data.list || []
      this.init()
    }
    SideNav.prototype = {
      constructor: SideNav,
      init: function() {
        this.el = document.createElement('ul')
        this.el.id = this.id
        this.el.className = 'nav nav-list bs-docs-sidenav'
        this.list.forEach(function(item) {
          console.log(item)
          switch(item.type) {
            case 'header':
              this.add(new SideNavHeader(item.text))
              break
            case 'item':
              this.add(new SideNavItem({
                text: item.text,
                href: item.href
              }))
              break
          }
        }.bind(this))
      },
      show: function() {
        console.log(this.el)
        this.parentNode.appendChild(this.el)
        return this
      },
      add: function(child) {
        this.el.appendChild(child.getEl())
        this.children.push(child)
        return this
      },
      getEl: function() {
        return this.el
      }
    }

    var SideNavHeader = function(data) {
      this.el = document.createElement('li')
      this.data = data
      this.init()
    }
    SideNavHeader.prototype.init = function() {
      this.el.className = 'nav-header'
      this.el.innerHTML = this.data
    }

    SideNavHeader.prototype.getEl = function() {
      return this.el
    }

    var SideNavItem = function(data) {
      SideNavHeader.call(this, data)
    }

    SideNavItem.prototype = new SideNavHeader()
    SideNavItem.prototype.init = function() {
      this.el.className = ''
      this.el.innerHTML = '<a href="#'+ this.data.href +'">' + this.data.text + '</a>'
    }

    var NavData = [{
      type: 'header',
      text: '资源管理'
    }, {
      type: 'item',
      href: 'substation_manager',
      text: '组别管理',
      superAdmin: true
    }, {
      type: 'item',
      href: 'line_manager',
      text: '公司管理',
      superAdmin: true
    }, {
      type: 'item',
      href: 'equipment_manager',
      text: '组别管理'
    }, {
      type: 'header',
      text: '设备管理'
    }, {
      type: 'item',
      href: 'data_monitor',
      text: '数据监控'
    }];

    if(roles.currentRole.indexOf('super_admin') == -1) {
      NavData = NavData.filter(function(item) {
        return !item.superAdmin
      })
    }

    (new SideNav($('#manager_side_nav_container')[0], {
      id: 'sideNav',
      list: NavData
    })).show()

    // 用于加载css
    var loadLink = function(url, cb) {
      var linkHistory = []
      return function(url, cb){
        if(linkHistory.indexOf(url) != -1) {
          if(cb) {
            cb()
          }
          return
        }
        linkHistory.push(url)
        var link = document.createElement('link')
        link.type = 'text/css'
        link.rel = 'stylesheet'
        if(cb) {
          link.addEventListener('load', function() {
            cb()
          })
        }
        link.href = url
        document.getElementsByTagName('head')[0].appendChild(link)
      }
    }()
    // 根据地址高亮左边栏按钮, 默认'data_monitor'
    $('a[href*=#' + (location.href.split('#')[1] || 'data_monitor')+']').addClass('btn-success')

    // 点击时改变高亮按钮
    var navLinks = $('#sideNav').find('a')
    navLinks.click(function(){
      navLinks.removeClass('btn-success')
      $(this).addClass('btn-success')
    })

    var router = new dj.Router()
    router.start({
      '': loadDataMonitor,
      'substation_manager': substationLoad,
      'line_manager': lineLoad,
      'data_monitor': loadDataMonitor,
      'equipment_manager': loadEquip,
      // 'GPRS_manager': loadGPRSManager
    })

    function loadVoltage() {
      dj.jsLoad('/js/manager/selectManager.js', function(){
        dj.inserCmp('voltage_manager_modal.html', $('.managerModal')[0], function(){
          dj.inserCmp('voltage_manager.html', $('.container')[0])
        })
      })
    }
/*
    function loadLow() {
      dj.jsLoad('/js/manager/selectManager.js', function(){
        dj.inserCmp('low_voltage_modal.html', $('.managerModal')[0], function(){
          dj.inserCmp('low_voltage.html', $('.container')[0])
        })
      })
    }

    function loadHigh() {
      loadLink('/css/high_manager.css', function(){
        dj.jsLoad('/js/manager/selectManager.js', function(){
          dj.inserCmp('high_voltage_modal.html', $('.managerModal')[0], function(){
            dj.inserCmp('high_voltage.html', $('.container')[0])
          })
        })
      })
    }*/

    function loadEquip() {
      loadLink('/css/equipment_manager.css', function() {
        dj.inserCmp('equipment_manager_modal.html', $('.managerModal')[0], function(){
          dj.inserCmp('equipment_manager.html', $('.container')[0])
        })
      })
    }

/*    function loadControlMeasure() {
      dj.jsLoad('/js/manager/selectManager.js', function(){
        dj.inserCmp('control_measure_modal.html', $('.managerModal')[0], function(){
          dj.inserCmp('control_measure.html', $('.container')[0])
          loadLink('/css/equipment_manager.css')

        })
      })
    }*/

    function loadTemperature() {
      dj.jsLoad('/js/manager/selectManager.js', function(){
        dj.inserCmp('temperature_modal.html', $('.managerModal')[0], function(){
          loadLink('/css/equipment_manager.css')
          dj.inserCmp('temperature.html', $('.container')[0])

        })
      })
    }

    function loadDataMonitor() {
      dj.inserCmp('data_monitor_modal.html', $('.managerModal')[0], function(){
        loadLink('/css/equipment_manager.css')
        dj.inserCmp('data_monitor.html', $('.container')[0])
      })
    }

    function substationLoad() {
      dj.jsLoad('/js/manager/clickManager.js', function(){
        dj.inserCmp('substation_manager_modal.html', $('.managerModal')[0], function(){
          dj.inserCmp('substation_manager.html', $('.container')[0])
        })
      })
    }

    function lineLoad() {
      dj.jsLoad('/js/manager/clickManager.js', function(){
        dj.inserCmp('line_manager_modal.html', $('.managerModal')[0], function(){
          dj.inserCmp('line_manager.html', $('.container')[0])
        })
      })
    }
    function loadGPRSManager() {
      // dj.jsLoad('/js/manager/selectManager.js', function() {
        dj.inserCmp('GPRS_manager.html', $('.container')[0], function() {
          if(roles.currentRole.indexOf('super_admin') != -1) {
            dj.inserCmp('GPRS_manager_modal.html', $('.managerModal')[0])
          }
        })
      // })
    }
  })()

</script>