<div id="temperature_info_panel">
  <div class="container-fluid well" style="height: 100%;overflow-y: hidden;position: relative;">
    <h3 class="text-center" id="sensor_list_header">
      <span id="temperature_info_title">温度模块</span>
      <div id="tem_info_back" class="notice-container" style="float:left;cursor: pointer;">
        <div class="cursor-notice"><a style="color: #505050;font-size: 0.8em">◁</a></div>
        <div class="cursor-notice-borad-right">返回温度设备</div>
      </div>
    </h3>
    <hr>
    <table id="temperature_info_list" class="table table-bordered table-striped table-hover table-condensed success" style="width: 100%">
      <thead>
        <td>设备号码</td>
        <td>名称</td>
        <td>地址</td>
        <td>sim</td>
        <td>温度上限</td>
        <td>温度下限</td>
        <td>在线时间</td>
        <td>修改</td>
        <td>删除</td>
      </thead>
    </table>
  </div>
</div>
<div id="temperature_sensor_panel">
  <div class="container-fluid well" style="height: 100%;overflow-y: hidden;position: relative;">
    <h3 class="text-center" id="sensor_list_header">
      <span id="sensor_list_title">传感器</span>
      <div id="addSensor" class="notice-container" style="float:right;cursor: pointer;">
        <div class="cursor-notice"><a href="#add_sensor_modal" data-toggle="modal" style="color: #505050">+</a></div>
        <div class="cursor-notice-borad-left">添加传感器</div>
      </div>
    </h3>
    <hr>
    <table id="sensor_list" class="table table-bordered table-striped table-hover table-condensed success">
      <thead>
        <td>传感器编号</td>
        <td>传感器名称</td>
        <td>修改</td>
        <td>删除</td>
      </thead>
    </table>
  </div>
</div>

<script>
  var temModuleTable = function() {
    var table = null
    var store = {
      dom: {
        title: null,
        add: null,
        back: null
      },
      now: {
        monitorId: '',  // data monitor id
        moduleId: '',   // temperature module id
      },
      url: '',
      lastId: ''
    }
    return {
      init: function(setting) {
        // 注册事件
        panelObserver.regist('showTemModule', function(agrs) {
          this.show(agrs.id, agrs.name)
        }.bind(this))
        store.dom = setting.dom
        store.url = setting.url
        // 返回按钮
        store.dom.back.on('click', function() {
          panelObserver.fire('backToDataMonitor')
          store.lastId = store.now.monitorId
        })
        this.loadModal()
      },
      loadModal: function() {
        // 引入temModuleModal
        var div = document.createElement('div')
        dj.inserCmp('temperature_module_modal.html', div, function() {
          $('.modal')[0].appendChild(div)

          TemModuleModal.setOption({
            url: {
              add: '/dongjun/data_monitor/submodule/temperature/edit',
              edit: '/dongjun/data_monitor/submodule/temperature/edit',
              del: '/dongjun/data_monitor/submodule/temperature/del',
            },
            completeFnc: this.redraw
          })
        }.bind(this))
      },
      show: function(id, title) {
        if(id === store.lastId) {
          return
        }
        store.now.monitorId = id
        // sensorModal.setDeviceId(id)
        this.changeTitle(title).draw(id)
      },
      changeTitle: function(title) {
        store.dom.title.html(title)
        return this
      },
      draw: function(id) {
        table = $('#temperature_info_list').DataTable({
          'searching': false,
          'ordering':  false,
          'info': false,
          'paging': false,
          'ajax': {
            'url': store.url,
            'type': 'POST',
            'dataSrc': function(json) {
              json.text = Object.prototype.toString.call(json.text) == '[object Array]' ? json.text : []
              return json.text
            },
            'data': {
              monitorId: id
            }
          },
          'columns': [
            { 'data': 'deviceNumber' },
            { 'data': 'name' },
            { 'data': 'address' },
            { 'data': 'simNumber'},
            { 'data': 'maxHitchValue'},
            { 'data': 'minHitchValue'},
            { 'data': 'onlineTime' },
            {
              'data': 'id',
              'render': function(data) {
                return '<a href="#edit_module_modal" role="button" class="btn" data-toggle="modal" data-fnc="edit" data-id="'+ data +'">修改 &raquo;</a>'
              }
            },
            {
              'data': 'id',
              'render': function(data) {
                return '<a class="btn btn-danger" data-id="'+data+'" data-fnc="del">删除&raquo; </a>'
              }
            },
          ],
          'language': {
            'emptyTable': '<a style="cursor: pointer;" onclick="TemModuleModal.addTemModule()">点击添加新的数据</a>',
            'zeroRecords': '<a style="cursor: pointer;" onclick="TemModuleModal.addTemModule()">点击添加新的数据</a>',
            'loadingRecords': '正在加载数据...'
          },
          'initComplete': function(setting, json) {

            $(this[0]).click(function(event) {
              var target = $(event.target)
              var fnc = target.data('fnc')
              if(fnc == 'edit') {
                if(TemModuleModal) {
                  var id = target.data('id')
                  var data = Array.prototype.find.call(table.data(), function(item) {
                    return item.id == id
                  })
                  TemModuleModal.editTemModule(data)
                }
              } else if(fnc == 'del') {
                var id = target.data('id')
                if(TemModuleModal) {
                  TemModuleModal.delTemModule(id)
                }
              }
            })
          }
        })
        this.draw = this.redraw
        return this
      },
      redraw: function() {
        table.ajax.url(store.url)
        var param = {
          monitorId: now.monitorId
        }
        table.settings()[0].ajax.data = param
        table.ajax.reload()
        return this
      }
    }
  }()

  // 传感器表格
  var sensorTable = function() {
    var table = null
    var store = {
      dom: {
        title: null,
        add: null,
        back: null
      },
      now: {
        deviceId: '',
        sensorId: ''
      },
      url: '',
      lastId: ''
    }
    return {
      init: function(setting) {
        panelObserver.regist('showSensor', function(agrs) {
          this.show(agrs.id, agrs.name)
        }.bind(this))
        store.dom = setting.dom
        store.url = setting.url
        store.dom.back.on('click', function() {
          store.lastId = store.now.deviceId
          panelObserver.fire('backToDataMonitor', {})
        })
        this.loadModal()
      },
      loadModal: function() {
        // 引入sensorModal
        var div = document.createElement('div')
        dj.inserCmp('temperature_sensor_modal.html', div, function() {
          $('.modal')[0].appendChild(div)

          sensorModal.setOption({
            url: {
              add: '/dongjun/temperature_sensor/edit',
              edit: '/dongjun/temperature_sensor/edit',
              del: '/dongjun/temperature_sensor/del',
            },
            completeFnc: this.redraw
          })

        }.bind(this))
      },
      show: function(id, title) {
        if(id === store.lastId) {
          return
        }
        store.now.deviceId = id
        // sensorModal.setDeviceId(id)
        this.changeTitle(title).draw(id)
      },
      changeTitle: function(title) {
        store.dom.title.html(title)
        return this
      },
      draw: function(id) {
        table = $('#sensor_list').DataTable({
          'ajax': {
            'url': store.url,
            'type': 'POST',
            'dataSrc': 'text',
            'data': {
              deviceId: id
            }
          },
          'columns': [
            { 'data': 'tag' },
            { 'data': 'name'},
            {
              'data': 'id',
              'render': function(data) {
                return '<a href="#edit_sensor_modal" role="button" class="btn" data-toggle="modal" data-fnc="edit" data-id="'+data+'">修改 &raquo;</a>'
              }
            },
            {
              'data': 'id',
              'render': function(data) {
                return '<a href="#del_sensor_modal" class="btn btn-danger" data-toggle="modal" data-backdrop="static" data-id="'+data+'" data-fnc="del">删除&raquo; </a>'
              }
            },
          ],
          'language': {
            'paginate': {
              'next': '下一页',
              'previous': '上一页'
            },
            'emptyTable': '找不到相关数据',
            'zeroRecords': '找不到相关数据',
            'loadingRecords': '正在加载数据...'
          },
          'initComplete': function(setting, json) {

            $(this[0]).click(function(event) {
              var target = $(event.target)
              var fnc = target.data('fnc')
              if(fnc == 'edit') {
                if(sensorModal) {
                  var id = target.data('id')
                  var data = Array.prototype.find.call(table.data(), function(item) {
                    return item.id == id
                  })
                  sensorModal.editSensor(data)
                }
              } else if(fnc == 'del') {
                var id = target.data('id')
                if(sensorModal) {
                  sensorModal.delSensor(id)
                }
              }
            })
          }
        })
        this.draw = this.redraw
        return this
      },
      redraw: function(id) {
        table.ajax.url(store.url)
        var param = {
          deviceId: id
        }
        table.settings()[0].ajax.data = param
        table.ajax.reload()
        return this
      }
    }
  }()

  temModuleTable.init({
    dom: {
      title: $('#temperature_info_title'),
      back: $('#tem_info_back')
    },
    url: '/dongjun/data_monitor/submodule/temperature/list'
  })
</script>